<script type="application/javascript">

    document.addEventListener('DOMContentLoaded', function () {
        const fieldName = document.getElementById("action_name");
        const fieldValue = document.getElementById("action_value");

        function httpAsync(method, url, body, callback) {
            const xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                console.log(xmlHttp);
                if (xmlHttp.readyState === 4 && xmlHttp.status === 200) {
                    callback(xmlHttp.responseText);
                }
            };
            xmlHttp.open(method, url, true); // true for asynchronous
            xmlHttp.send(body);
        }

        window.triggerAction = function () {
            const action = fieldName.value;
            const value = parseInt(fieldValue.value);
            if (action === void 0 || action === "") {
                alert("Invalid action")
            } else {
                let body = null;
                if (value) {
                    body = {
                        value: value
                    };
                }
                httpAsync("POST", "/rooms/{{.Device.Room}}/devices/{{.Device.ID}}/actions/" + action, body, function (text) {
                    alert(text)
                });
            }
        }
    }, false);
</script>

<h1>Device {{.Device.Name}}</h1>
<p>ID: {{.Device.ID}}</p>
<p>Mac: {{.Device.Mac}}</p>
<p>Room: {{.Device.Room}}</p>

<form>
    <label for="action_name">Action name</label><input id="action_name" type="text" name="action_name">
    <label for="action_value">Value</label><input id="action_value" type="number" value="0" name="action_value">
    <input type="button" name="action_trigger" value="Perform action" onclick="triggerAction()"/>
</form>

<h2>Readings:</h2>
<ul>
    {{range .Readings}}
        <ul>
            <p>ID: {{.ID}}</p>
            <p>Name: {{.Name}}</p>
            <p>Value: {{.Value}}</p>
            <p>Unit: {{.Unit}}</p>
            <p>CreationTimestamp: {{.CreationTimestamp}}</p>
        </ul>
    {{end}}
</ul>

{{if .ErrorMessage}}
    <p>ERROR: {{.ErrorMessage}}</p>
{{end}}