<h1>Device {{.Device.Name}}</h1>
<p>ID: {{.Device.ID}}</p>
<p>Mac: {{.Device.Mac}}</p>
<p>Room: {{.Device.Room}}</p>

<form action="http://localhost:5000/rooms/{{.Device.Room}}/devices/{{.Device.ID}}/actions/watering">
    <input type="submit" name="watering" value="Perform 'watering' action"/>
</form>

<form action="http://localhost:5000/rooms/{{.Device.Room}}/devices/{{.Device.ID}}/actions/test">
    <input type="submit" name="watering" value="Perform 'test' action"/>
</form>

<h2>Readings:</h2>
<ul>
    {{range .Readings}}
        <ul>
            <p>ID: {{.ID}}</p>
            <p>Name: {{.Name}}</p>
            <p>Value: {{.Value}}</p>
            <p>Unit: {{.Unit}}</p>
            <p>CreationTimestamp: {{.CreationTimestamp}}</p>
        </ul>
    {{end}}
</ul>

{{if .ErrorMessage ne ""}}
    <p>ERROR: {{.ErrorMessage}}</p>
{{end}}